.icheckbox{
  width: 16px;
  height: 15px;
  background: url(../images/checkbox.png) no-repeat;
}
.iCheck label{
    margin-top: 0;
    color: #000;
    padding-left: 5px;
}
.icheckbox {
    background-position: 0 0;
}
.icheckbox.checked {
    background-position: right 0;
}