/* CSS Document */
.page {
	.content_width{
    width: 715px;
    margin: 0 auto;
    display: table; 
  }
	.bg_overlay {
		width: 100%;
		height: 100%;
		background: #d3c8e3;
		@include setOpacity (0);
		position: absolute;
		left: 0px;
		top: 0px;	
	}
	
	&.wedding {
		display: none;
	}
	&.engagement {
		display: none;
		
	}
	&.collections.detailPage{
	  display: none;
	}
	.inner_contentDetial{
			
			min-height: 100%;
			position: fixed;
			left: 0px;
			bottom: 0;
			width: 100%;
			z-index: 100;
		}
	.content_view{
		position: absolute;
		left: 0px;
		bottom: 0px;
		height: 0%;
		background: $white;
		width: 100%;
		z-index: 101;
		@include shadow ();
	}
	
	.desc {
		float: left;
		padding-top: 30px;
		h5.title {
			clear: both;
			@include HelveticaLight (19px);
			border-bottom: 1px #7f7f7f solid;
			padding-bottom: 10px;
			font-weight: 700;
		}
		ul.list_item {
			padding: 0;
			margin: 0;
			li {
				clear: both;
				margin-top: 16px;
				background: url(../images/engagement/bullet.png) no-repeat 0 9px;
				a {
					@include HelveticaLight (14px);
					@include animation ();
					color: $black;
					padding-left: 23px;	
					&:hover {
						@include setOpacity (1);
						color: #4e3b80;
					}
				}
				
			}	
		}	
	}
	.img_block {
		float: right;
		width: 275px;	
		padding-top: 14px;
	}
	&.engagement{
	  .img_block{
	    padding-top: 135px;
	  }
	}
	&.wedding{
	  .img_block{
      padding-top: 70px;
    }
	}
	&.membership{
    .img_block{
      img{
        width: 98%;
      }
    }
  }
	&.about{
	  .img_block{
	    float: left;
	    margin-left: 92px;
      padding-top: 260px;
    }
	}
	.bg_overlay{
	  display: none;
	}
}
