.left_menu {
	position: fixed;
	right: -55px;
	top: 50%;
	  height: 137px;
  width: 53px;
  margin-top: -85px;
  background: url(../images/box-2.png) no-repeat;
	z-index: 1000;
	.inner {
		clear: both;
		span.line {
			background: url(../images/lin-h.png) no-repeat;
			width: 59px;
			height: 5px;
		  	display: block;
		  	text-align: center;
		  	margin-top: 16px;
		  	margin-left: 4px;
		}
		a {
			display: block;
			margin: 13px 0px 0px 10px;
			@include animation ();
			@include setOpacity (0.5);
			&:hover {
				@include setOpacity (1);	
			}
			&.face-icon {
				width: 34px;
				height: 31px;
				background: url(../images/face-icon-2.png) no-repeat;	
			}
			&.twitter-icon {
				width: 35px;
				height: 32px;
				background: url(../images/twiiter-icon.png) no-repeat;	
			}
			&.NO-icon {
				width: 35px;
				height: 35px;
				background: url(../images/3-icon.png) no-repeat;	
			}
			&.connect-icon {
				width: 39px;
				height: 41px;
				background: url(../images/4-icon-2.png) no-repeat;	
			}	
			&.chat-icon {
				width: 31px;
				height: 31px;
				background: url(../images/5-icon-2.png) no-repeat;	
				  margin-top: 37px;
  margin-left: 12px;
			}		
		}	
	}	
}