/* CSS Document */
.page {
	width: 100%;
	height: auto;
	position: relative;
	&.home {
		height: 100%;
		background: #cbbacf;
			
	}
	.inner {
		width: 100%;
		height: 100%;
		display: table;
		position: relative;	
	}
	.logo {
		display: table-cell;
	  	position: relative;
	  	vertical-align: middle;
		text-align: center;
		p.text_home {
			@include PlayfairNormal (32px);	
			clear: both;
			padding-top: 10px;
		}	
	}
	.mouse-event {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: 81px;
  		margin-left: -69px;
		text-align: center;
		z-index: 100;
  		cursor: pointer;
		p.text {
			@include Adamina (14px);
			font-style: italic;
			color : $grey;	
		}
		img {
			padding-top: 18px;	
		}	
	}
	.inner_fix {
		background: #cbbacf;
		width: 96%;
		height: 57px;
		position: absolute;
		left: 0px;
		bottom: 0px;
		padding: 0px 32px;
		z-index: 1000;
		&.fixed {
			position: fixed;
			bottom: 0;  
			nav{
			  position: relative;
			}
		}	
	}
	.left_title {
		@include RECHTMAN (38px);
		padding-top: 12px;
		position: absolute;
		left: 32px;
		top: 0px;	
	}
	.contact {
		position: absolute;
		right: 32px;
		top: 25px;
		@include Adamina (14px);	
		a{
		  color: #000;
		  text-transform: uppercase;
		}
	}
	nav {
		
			position: relative;
			
			ul.list_menu {
			padding: 0;
			margin: 0 auto;
			display: table;
      		text-align: center;
			li {
				float: none;
				
				  display: inline-block;
				a {
					color : $black;
					@include Adamina (14px,63px);
					height: 57px;
					display: block;
					padding: 0px 12px;
					@include noselect();
					text-transform: uppercase;
					  -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
					&:hover {
						text-decoration: none;
						background: #fff;
					}
					&.active {
						background: $white;	
					}	
				}	
			}	
		}	
	}	
}

