/* CSS Document */
.page {
	
	.inner_slider {
		width: 100%;
		position: relative;
		overflow: hidden;
		height: 414px;
		a{
		  position: absolute;
      
      top: 50%;
      margin-top: -22px;
      width: 38px;
      height: 78px;
      opacity: 0.5;
      @include animation();
      &:hover{
        opacity: 1;  
      }
		}
		a.next {
			background: url(../images/arrrow_left.png) no-repeat;
			z-index: 100;	
			right: 55px;
			@include setOpacity(0.5);
      		@include animation();
			&:hover {
				@include setOpacity(1);	
			}
		}
		a.pre {
			margin-top: -22px;
			background: url(../images/arrow_right.png) no-repeat;
			z-index: 100;		
			left: 55px;
			@include setOpacity(0.5);
      		@include animation();
			&:hover {
				@include setOpacity(1);	
			}
		}
		.list_slider {
			padding: 0;
			margin: 0;
			li {
				clear: both;
				  min-height: 414px;
				  position: absolute;
				  left: 0px;
				  top: 0px;
				  width: 100%;
				 
				img {
					position: absolute;
					left: 50%;
					top: 0;
					margin-left: -693px;
					z-index: 1;	
				} 
				.box-text{
				  position: absolute;
          left: 50%;
          z-index: 2;
          top: 248px;
          margin-left: 50px;
				}
				p.text {
					@include PlayfairBold (30px);
					font-weight: bold;	
					span {
						@include HelveticaLight (30px);
							
					}
				}
				a.btn {
					background: url(../images/btn.png) no-repeat;
					width: 154px;
					height: 38px;
					text-align: center;
					color: $white;
					position: inherit;
					margin: 0;
					top: auto;
					@include Adamina (18px,1.8);
					z-index: 3;	
				}	
			}	
		}	
	}
	h3.title {
		clear: both;
		@include Adamina (60px)	;
		padding: 90px 0px;
		text-align: center;
	}
	/*top*/
	.top_menu {
		clear: both;
		padding: 10px 0px;
		
		&.fixed{
		  position: fixed;
		  top: 0;
		  left: 0;
		  width: 100%;
		    z-index: 100;
      background-color: #fff;
		}
		.select_menu {
			float: left;
			margin-left: 20px;
			.icon {
				float: left;
				
				width: 69px;
				height: 57px;
				display: block;	
				-webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        &.hasbr{
          background: url(../images/br-menu.png) no-repeat;
        }
				span{
				    background: url(../images/inner-menu.png) no-repeat;
          width: 69px;
          height: 57px;
          display: inline-block;
				}
			}
			p.text {
				float: left;
				@include CabinSketchNormal (22px,2.4);
				padding-left: 28px;	
				a{
				  color: #000;
				}
				span {
					font-size: 26px;	
				}
			}
		}
		.option_menu {
			float: right;
			ul.list_item {
				padding: 0;
				margin: 0;
				li {
					float: left;
					margin: 4px 8px 0px;
					a {
						display: block;
						@include setOpacity (0.8);
						@include animation ();
						&.search {
							width: 42px;
							height: 50px;
							background: url(../images/search.png) no-repeat;	
						}
						&.cart {
							width: 38px;
							height: 46px;
							background: url(../images/cart.png) no-repeat;	
						}
						&.note {
							width: 40px;
							height: 42px;
							background: url(../images/note.png) no-repeat;	
						}
						&:hover {
							@include setOpacity (1);	
						}	
					}
					&.line {
						background: url(../images/line_v.png) no-repeat;
						width: 5px;
						height: 56px;
						margin-top: 0px;	
					}
				}	
			}	
		}	
	}
	/*end top*/
	.content_product {
		clear: both;
		width: 1230px;
		margin: 36px auto;
		
		.list_products {
			padding: 0;
			margin: 0;
			clear: both;
			float: left;
      width: 100%;
      padding-bottom: 120px;
			li {
				float: left;
				margin: 40px 0px;
				position: relative;
				&:hover {
					.view_detail {
						opacity: 1;
					}
					.group_img {
						.large_view {
							-ms-transform: scale(1.2,1.2); /* IE 9 */
    						-webkit-transform: scale(1.2,1.2); /* Safari */
    				 		transform: scale(1.2,1.2);
    				 		-webkit-filter: grayscale(0%);
                  filter: grayscale(100%);
						}
						.small_left {
							opacity: 0.3;
							-ms-transform: scale(1,1); /* IE 9 */
    						-webkit-transform: scale(1,1); /* Safari */
    				 		transform: scale(1,1);
							&:hover {
								opacity: 1;
							}	
						}
						.small_right {
							opacity: 0.3;
							-ms-transform: scale(1,1); /* IE 9 */
    						-webkit-transform: scale(1,1); /* Safari */
    				 		transform: scale(1,1);
							&:hover {
								opacity: 1;
							}	
						}	
					}	
				}
				.col {
					float: left;
					&.center {
						margin: 0px 20px;	
					}	
				}
				.group_img {
					clear: both;
					position: relative;
					width: 400px;
  					
  					text-align: center;
					.large_view {
						@include animation ();
						-ms-transform: scale(1,1); /* IE 9 */
    					-webkit-transform: scale(1,1); /* Safari */
    				 	transform: scale(1,1);
						z-index: 1;
					  -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: url(desaturate.svg#greyscale);
            &.hover{
                -webkit-filter: grayscale(0%);
                filter: grayscale(100%);
              }
					}
					.small_left {
						position: absolute;
						left: -15px;
						top: 50%;
  						margin-top: -30px;
						@include animation ();
						opacity: 0;
						-ms-transform: scale(0.5,0.5); /* IE 9 */
    					-webkit-transform: scale(0.5,0.5); /* Safari */
    				 	transform: scale(0.5,0.5);
						z-index: 2;
					}
					.small_right {
						position: absolute;
						right: -25px;
						top: 50%;
  						margin-top: -30px;
						opacity: 0;
						@include animation ();
						-ms-transform: scale(0.5,0.5); /* IE 9 */
    					-webkit-transform: scale(0.5,0.5); /* Safari */
    				 	transform: scale(0.5,0.5);
						z-index: 2;	
					}	
				}
				.view_detail {
					position: absolute;
					left: 50%;
					margin-left: -199px;
  					bottom: -65px;
					width: 100%;
					text-align: center;
					opacity: 0;
					@include animation();
					p.text {
						clear: both;
						background: url(../images/line_detail.png) no-repeat left bottom;
						
						padding-bottom: 15px;
						@include Adamina (24px);	
						color: #000;
					}
					.view {
						clear: both;
						color: #000;
						padding-top: 12px;
  						display: block;
						@include CabinSketchNormal (21px);
					}	
				}	
			}			
		}	
	}	
}
.top_menu{
  position: relative;
}
.shadow{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  left: 0;
  z-index: 105;
  margin-top: -15px;
  opacity: 0.5;
  display: none;
}
.store-filter{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: #fff;
  z-index: 106;
  display: none;
  opacity: 0;
  .pad{
    padding-top: 13px;
  }
  h3{
    @include Adamina (20px);  
    text-align: center;
    padding-bottom: 33px;
  }
  .colbox{
      display: table;
  margin: 0 auto;
  }
  .col{
    display: inline-block;
    width: 152px;
      vertical-align: top;
      margin-left: 15px;
      margin-right: 15px;
    h4{
       @include Adamina (13px);
       text-transform: uppercase; 
       border-bottom: 1px solid #000;
       padding-bottom: 5px;
       font-weight: 700;
       color: #000;
       margin-bottom: 2px;
    }
    .iCheck label{
      font-family: "HelveticaLight";
      font-size: 13px;
        position: relative;
  top: -3px;
    }
      .icheckbox {
        display: inline-block;
        
      }
    ul{
      li{
        padding-top: 8px;
      }
    }
    &.col01{
      
    }
    &.col02{
      
    }
    &.col03{
      
    }
    &.col04{
      
    }
    &.col05{
      width: 280px;
      ul{
        li{
          width: 50%;
            float: left;
        }
      }
    }
  }
  .icheckbox{
    
  }
  a.icon{
    background: transparent!important;
      margin-left: 19px;
  margin-top: 10px;
  }
  .btnSubmit{
    display: table;
    margin: 50px auto 40px;
    width: 192px;
      height: 42px;
    a{
        display: block;
     -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        position: relative;
        width: 192px;
      height: 42px;
      overflow: hidden;
      span{
        background: url(../images/showmore.png) no-repeat center;
      width: 192px;
      height: 42px;
      position: absolute;
      @include CabinSketchNormal (18px);
        color: #000;
      display: inline-block;
      text-align: center;
      line-height: 42px;
      
        z-index: 1;
      }
      i{
        position: absolute;
        background: #fff;
        z-index: 2;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        &.top{
          width: 100%;
          top: 0;
        }
        &.left{
          height: 100%;
          left: 0;
        }
        &.right{
          height: 100%;
          right: 0;
        }
        &.bottom{
          width: 100%;
          bottom: 0;
        }
      }
      &:hover{
        span{
          background: url(../images/showmore-hover.png) no-repeat center;
        }
        i{
          &.top{
            height: 2px;
          }
          &.left{
            width: 8px; 
          }
          &.right{
            width: 9px;
          }
          &.bottom{
            height: 3px;
          }
        }
      }
    }
  }
}
.content_product{
  position: relative;
}
.product-detail{
    clear: both;
    width: 100%;
    height: auto;
    z-index: 100;
    background: #fff;
    display: none;
    opacity: 0;
    padding-bottom: 50px;
  .product-box{
    width: auto;
    display: table;
    margin: 20px auto;
    ul{
      li{
          height: 358px;
        display: table-cell;
        vertical-align: middle;
        margin-left: 5px;
        margin-right: 5px;
        img{
        }
      }
    }
  }
  .product-type{
      width: 989px;
      display: table;
      margin: 0 auto;
    .br-top{
      background: url(../images/border.png) no-repeat center;
      height: 3px;
      width: 10%;
	  margin: 0 auto;
	  opacity: 0;
    }
    ul{
        display: inline-block;
  margin: 8px 0 8px 123px;
      li{
        @include Adamina (16px);
          display: inline-block;
          background: url(../images/br-detail.png) no-repeat right center;
          padding-left: 10px;
          padding-right: 19px;
          &:last-child{
            background: transparent;
          }
      }
    }
    span{
        float: right;
        margin-right: 190px;
        margin-top: 8px;
    }
  }
  .product-feed{
    position: relative;
	p{
      @include Adamina (14px);
        padding-top: 22px;
      text-align: center;
      padding-bottom: 20px;
    }
	i{
		
	}
    ul{
      display: table;
  margin: 10px auto;
  position: relative;
      li{
        display: inline-block;
		&.i{
			
		}
        a{
          color: #000;
          padding-top: 45px;
    		  width: 192px;
    		  position: relative;
    		  
    		  float: left;
          
          span{
             
            @include CabinSketchNormal (16px);
            width: 192px;
            height: 28px;
             text-align: center;
  			display: inline-block;
  			line-height: 28px;
			position: relative;
			z-index: 2;
			
          }
          &.cart{
            background: url(../images/cart-2.png) no-repeat top center;
          }
          &.wishlist{
            background: url(../images/wishlist.png) no-repeat top center;
          }
          &.share{
            background: url(../images/share.png) no-repeat top center;
          }
          &:hover{
            
          }
        }
        i{
          width: 0;
          opacity: 0.1;
        }
        &.active, &:hover{
          i{
            background: url(../images/link-hover.png) no-repeat 0px 0;
           
            height: 28px;
            opacity: 1;
            position: absolute;
            left: 0px;
            top: 43px;
            z-index: 1;   
          }
        }
      }
    }
  }
}






